.App {
    font-family: sans-serif;
    text-align: center;
  }
  .carousel.carousel-slider{
    height: 80vh;
  }
  body{
    margin: 0
  }
  .header-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-icon h4{
    margin: 0;
    margin-bottom: 0.5em
  }
